@font-face {
  font-family: "Kaushan Script";
  src: url("/assets/fonts/KaushanScript-Regular.ttf");
  font-weight: normal;
  font-style: italic;
}

#root {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #31613d98;
}

