
:root {
  font-family: -apple-system, BlinkMacSystemFont;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ededed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #063300a2;
  text-decoration: inherit;
}
a:hover {
  color: #031d00a2;
  text-decoration: underline;
}

.calligraphy-font {
  font-family: "Kaushan", cursive !important;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #de9a348f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.branch {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 2rem;
}

.leaf {
  width: 40px;
  height: 40px;
  border-radius: 0 70% 20% 70%;
  position: absolute;
  transform-origin: bottom right;
}

.leaf:nth-of-type(1) {
  left: 40px;
  transform: rotate(45deg);
}

.leaf:nth-of-type(2) {
  transform: rotate(0deg);
  left: 40px;
}

.leaf:nth-of-type(3) {
  transform: rotate(90deg);
  left: 40px;
}

.leaf:nth-of-type(4) {
  transform: rotate(0deg);
  left: 40px;
}

.leaf:nth-of-type(5) {
  transform: rotate(90deg);
  left: 40px;
}

.header {
  font-family: "Oleo Script";
  color: #698678; /*if no support for background-clip*/
  background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, #aedac4 0%, #bdddcd 26%, #9bc3af 35%, #98b7a8
          45%, #95bdaa 61%, rgb(172, 198, 184) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
